<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205538224055-h87soaeoul7hvb6qfa8a1eqahtq0okl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205538224055-h87soaeoul7hvb6qfa8a1eqahtq0okl1</string>
	<key>API_KEY</key>
	<string>AIzaSyAGeF98e8zCQbN7gfNYI315WpMq2BuK6f0</string>
	<key>GCM_SENDER_ID</key>
	<string>205538224055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomUser</string>
	<key>PROJECT_ID</key>
	<string>ecomapp-c489a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomapp-c489a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205538224055:ios:d9c6ac2b13827935f2aa32</string>
</dict>
</plist>